.flow-list {
  width: 100%;
  height: calc(100% - 32px);

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title:global(.arco-typography-edit-content) {
    margin-left: 16px;
  }
}