.model-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .label {
    color: rgb(var(--arcoblue-6));
  }

  .radio-group {
    :global {
      .arco-radio {
        display: flex;
        align-items: center;
      }

      .arco-radio-text {
        overflow: hidden;
      }

      .arco-radio-mask-wrapper {
        top: 0;
      }
    }
  }
}